<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>You Don't Surf</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="reset.css">
</head>
<body ng-mouseup="yds.dragEnd($event)" ng-mousemove="yds.dragProgress($event)" ng-app="ydsApp" ng-controller="YdsController as yds" ng-click="yds.closeMenus($event)">	
    <div class="preview" ng-click="yds.togglePreview()">
        <div class="preview-container"></div>
    </div>
    <div class="menubar">
        <div class="menubar-item" ng-click="yds.newyds()">New</div><!--
        --><div ng-click="yds.showOpenMenu=!yds.showOpenMenu" 
                class="menubar-item dropdown" 
                ng-class="{'disabled':yds.shows.length===0}">Open
            <ul class="dropdown-menu" ng-class="{'active':yds.showOpenMenu}">
                <li class="dropdown-item" 
                    ng-click="yds.load(show)"
                    ng-repeat="show in yds.shows" >{{show.name}}</li>
            </ul>
        </div><!--
        --><div class="menubar-item" ng-click="yds.save()">Save</div><!--
        --><div class="menubar-item" ng-click="yds.render()">Post to imgur</div>
        <div class="menubar-title" ng-click="yds.editTitle()">{{yds.slideshow.name || 'Enter YDS Name'}}</div>
    </div>
    <div class="sidebar">
        <ul class="sidebar-images">
            <li class="sidebar-image" 
                 style="background:{{'url(' + slide.imageUrl + ')'}};background-size:cover;" 
                 ng-class="{'selected':yds.currentImage===$index}"
                 ng-click="yds.setCurrentImage($index)"
                 ng-repeat="slide in yds.slides">
                 <div class="sidebar-delete" ng-click="yds.delSlide($index)">X</div>
            </li>
        </ul>
        <div class="sidebar-add-button" ng-click="yds.addSlide()"></div>
    </div><!--
    --><div  ng-click="yds.clearSelection($event)" class="editor">
        <div class="current-image" 
             ng-click="yds.clearSelection($event)" 
             ng-dblclick="yds.addText($event)"
             style="background:{{'url(' + yds.slides[yds.currentImage].imageUrl + ')'}};background-size:cover;">
            <div class="text" 
                 style="transform:rotate({{line.rot+'deg'}});top:{{line.top+'px'}};left:{{line.left+'px'}};"
                 val="line.content"
                 ng-class="{'selected':yds.selectedText===$index}"
                 ng-click="yds.editText($index, $event)"
                 ng-repeat="line in yds.slides[yds.currentImage].text"
                 ng-model="line.content">
                 <textarea rows="1" cols="18" style="color:{{line.color}};font-size:{{line.size+'px'}}" ng-model="line.content"></textarea>
                 <div class="text-mover">+</div>
                 <div class="text-delete" ng-click="yds.delText($index)">x</div>
                 <div class="text-rotate" ng-mousedown="yds.dragStart($event)"
                     >&#x21bb;</div>
             </div>
        </div>
        <div class="editor-controls">
            <div class="control control-font-size">
                <span>Font Size:</span>
                <input ng-model="yds.slides[yds.currentImage].text[yds.selectedText].size" type="number" />
            </div>
            <div class="control control-color-picker">
                <span>Font Color:</span>
                <span ng-click="yds.setColor('red')" ng-class="{'selected':yds.isColor('red')}" class="color-swatch red"></span>
                <span ng-click="yds.setColor('orange')" ng-class="{'selected':yds.isColor('orange')}" class="color-swatch orange"></span>
                <span ng-click="yds.setColor('yellow')" ng-class="{'selected':yds.isColor('yellow')}" class="color-swatch yellow"></span>
                <span ng-click="yds.setColor('green')" ng-class="{'selected':yds.isColor('green')}" class="color-swatch green"></span>
                <span ng-click="yds.setColor('blue')" ng-class="{'selected':yds.isColor('blue')}" class="color-swatch blue"></span>
                <span ng-click="yds.setColor('indigo')" ng-class="{'selected':yds.isColor('indigo')}" class="color-swatch indigo"></span>
                <span ng-click="yds.setColor('violet')" ng-class="{'selected':yds.isColor('violet')}" class="color-swatch violet"></span>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
    <script src="jquery-grab-bag.js"></script>
</body>
</html>

<!--="{{yds.selectedText===$index&&yds.isContentEditable}}"-->
