.preview {
    position: absolute;
    width: 95%;
    height: 95vh;
    display: none;
    z-index: 1000;
    background: black;
    top: 2.5vh;
    left: 2.5%;
    border-radius: 20px;
    overflow-y: auto;
}

.preview-container {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 2.5vh;
    bottom: 2.5vh;
    display: block;
    text-align: center;
    width: 100%;
}

.menubar {
    display: block;
    height: 5vh;
    width: 100%;
    background: #65BCF1;
    position: relative;
}

.menubar .menubar-item, .menubar-title {
    display: inline-block;
    min-width: 150px;
    height: 100%;
    font-family: Roboto, Arial, sans-serif;
    line-height: 5vh;
    text-transform: uppercase;
    color: white;
    text-align: center;
    cursor: pointer;
}

.menubar-item.disabled {
    color: #aaa;
}

.menubar-title {
    position: absolute;
    font-size: 20px;
    right: 0;
    background: #393939;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
}

.dropdown-menu.active {
    display: block;
    position: absolute;
    margin-top: 1px;
    width: 100%;
    z-index: 900;
}

.dropdown-menu .dropdown-item {
    height: 50px;
    line-height: 50px 
    width: 100%;
    background: black;
    display: block;
    border: 1px solid white; 
    color: white;
}

.dropdown-menu .dropdown-item:hover {
    background: #333;
}

.dropdown-menu .dropdown-item:first-of-type {
    border-top: none;
}

.sidebar {
    height: 95vh;
    width: 20%;
    display: inline-block;
    background: #393939;
    text-align: center;
    overflow-y: auto;
    transition: 0.3s;
}

.sidebar.drop-target {
    background: crimson;
}

.sidebar-image, .sidebar-add-button {
    width: 200px;
    height: 132px;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    z-index: 500;
}

.sidebar-delete {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    display: block;
    opacity: 0;
    height: 1em;
    width: 1em;
    background: crimson;
    line-height: 1em;
    font-family: Roboto, Arial, sans-serif;
    color: white;
    border-radius: 5em;
    padding: 0.2em;
    transition: 0.3s;
}

.sidebar-image:hover > .sidebar-delete {
    opacity: 1;
}


.sidebar-image.selected {
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.sidebar-add-button {
    position: relative;
    background: none;
}

.sidebar-add-button:before {
    content: '+';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 132px;
    font-size: 180px;
    color: #ccc;
}

.editor {
    height: 95vh;
    width: 80%;
    display: inline-block;
    background: #F9F9F9;
    vertical-align: top;
}

.current-image {
    position: relative;
    background: url('http://thumb7.shutterstock.com/display_pic_with_logo/64260/292334429/stock-photo-hospital-profession-people-and-medicine-concept-group-of-happy-doctors-at-hospital-292334429.jpg');
    background-size: cover;
    margin-top: 10%;
    width: 80%;
    height: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.current-image .text {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 3px 3px 5px #222;
    position: absolute;
    cursor: default;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.0);
}

.text > input {
    background: none;
    font-family: Comic Sans, Comic Sans MS, cursive;
    padding: 0;
    margin: 0;
    z-index: 200;
    border: none;
    width: 100%;
    height: 100%;
}

.text > .text-mover, .text > .text-delete {
    display: none;
}

.text.selected > .text-mover, .text.selected > .text-delete {
    font-family: Roboto, Arial, sans-serif;
    cursor: move;
    font-weight: 800;
    -webkit-text-stroke-width: 0;
    position: absolute;
    top: -22px;
    left: -22px;
    height: 20px;
    display: block;
    text-align: center;
    line-height: 20px;
    text-shadow: none;
    width: 20px;
    background: white;
    border: 1px solid black;
}

.text.selected > .text-delete {
    left: calc(100%);
    top: -22px;
    cursor: pointer;
}

.current-image .text.selected {
    border: 1px dashed black;
}

//.current-image .text.selected:after {
//    content: '\21bb';
//    position: absolute;
//    display: block;
//    bottom: -22px;
//    right: -22px;
//    height: 20px;
//    width: 20px;
//    background: white;
//    border: 1px solid black;
//    color: black;
//    padding-top: 0;
//    font-size: 20px;
//    text-align: center;
//}

.editor-controls {
    border: 1px solid black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.control span {
    line-height: 40px;
    font-family: Roboto, Arial, sans-serif;
    margin-left: 20px;
}

.control-font-size, .control-color-picker {
    width: 100%;
    height: 40px;
    background: #7ECFFE;
    color: white;
    display: block;
}

.control-color-picker {
    background: #7ECFFE;
}

.color-swatch {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: attr(data-color string);
    border: 1px solid black;
    margin-top: 8px;
    vertical-align: top;
    cursor: pointer;
}

.color-swatch.selected {
    box-sizing: border-box;
    border: 1px solid white;
}

.red {
    background: red;
}

.orange {
    background: orange;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.indigo {
    background: indigo;
}

.violet {
    background: violet;
}
